/nginx/logs/nginx.pid
/nginx/logs/error.log

# PARTE IMPORTANTE!!!!!
/prod-servers/ 
/dev-servers/
# /prod-servers/ -> sites de projetos completos
# /dev-servers/ -> sites de projetos em desenvolvimento
# /servers/ -> sites misc e testes